header{
	text-align: center;
}
#headerBttns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#headerBttns a, #headerBttns a:visited{
	width:30%;
	border:1px solid black;
	border-bottom: none;
	border-top:none;
	text-decoration: none;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top:-10px;
	margin-bottom:-8px;
	font-size: 20px;
	color:black;
}
#headerBttns a:hover{
	background-color: rgba(0, 0, 0, 0.1);
	color:black;
}
#gallery{
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding:0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
#gallery img{
	width: auto;
	height: 500px;
	margin:5px;
	padding:0px;
	overflow: hidden;
}